body {
  background-color: #EAEAEA;
  color: #50555E;
  font-family: 'Lato', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 99%;
}

.angels {
  display: flex;
  justify-content: space-between;
}

.angels :last-child {
  transform: scaleX(-1);
}
